:root { 
  --grid-cols: 16; 
  --grid-rows: 16;  
}

#parent { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

#title { 
  font-family: Monaco, Courier New; 
}

#container { 
    display: grid;
    grid-gap: 1em; 
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 5px solid; 
}

.grid-item { 
    padding: 1em; 
    border: 1px sold #ddd; 
    background-color: red;
}