/* :root { 
  --grid-cols: 16; 
  --grid-rows: 16;  
} */

#parent { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  flex-direction: column; 
  gap: 30px;  
}

#title { 
  font-family: Monaco, Courier New; 
}

#container { 
    display: grid;
    grid-gap: 0;
    /* grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); */
    border: 5px solid; 
    
}

.grid-item { 
    padding: 1em; 
    background-color: white;
}

#reset-button { 
  font-size: 30px; 
  border: 1px solid black; 
  padding: 20px;
  width: 230px;  
}