#parent { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  flex-direction: column; 
  gap: 0px;  
  background-color: #FF5E5B; 
  border-radius: 10px; 
  padding: 10px;
}

#title { 
  font-family: 'Monaco', 'Courier New';
  color: #FFED66;
}

#container {
  width: 700px;
  height: 700px;
  display: grid;
  margin: 2rem;
  border: solid #FF5E5B;   
  border-width: 6px 40px 0;
  background-color: #AAAAAA; 
  border-radius: 10px; 
}

#button-section { 
  display: flex; 
  justify-content: space-between;
  gap: 600px;
}

#reset-button { 
  width: 100px;
  height: 100px;
  outline-style:initial;
  border-radius: 100px;
  cursor: pointer;
}

#random-button { 
  width: 100px;
  height: 100px;
  outline-style:initial;
  border-radius: 100px;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

